{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Lista de Contatos (SPEEDRUN ANY %) </title>
    <link rel="stylesheet" href="{% static 'contatos/css/estilo.css' %}">
</head>

<body>
    {% include 'contatos/links.html' %}
    <h1>Lista de Contatos</h1>
        <table>
        <tr><th>Nome</th><th>Idade</th><th>Telefone</th><th>Ações disponíveis</th>
        {% for pessoa in pessoas %}    
        <tr>
            <td>{{pessoa.nome }}</td><td>{{pessoa.idade}}</td><td>{{pessoa.telefone}}</td>

        </tr>
        {%empty %}
            <tr><th colspan="5"> Sem contatos cadastrados</th></tr>
        {% endfor %}
        </table>
</body>
</html>